header {
  margin: 0 auto;
  max-height: 200px;
  max-width: 1300px;

  nav {
    display: flex;
    justify-content: space-between;
    align-items: center;

    h1 {
      color: rgba(74, 149, 247, 1);
    }

    .logo-header {
      max-width: 100px;
      max-height: 100px;
    }

    ul {
      list-style: none;
      display: flex;
      justify-content: space-around;
      align-items: center;
    }

    li  {
      margin-right: .7rem;

      a {
        display: flex;
        justify-content: center;
        align-items: center;
        text-decoration: none;
        color: rgba(74, 149, 247, 1);
        cursor: pointer;
        animation: opacity ease-in;

        &:hover {
          color: rgba(47, 85, 135, 1);
          opacity: 0.7;
        }
      }
    }

    li.active a {
      color: rgba(140, 230, 255, 1);
    }
  }
}
